   <!-- item listing  -->
                    <div class="item">
                      <div class="row">
                        <div class="col-md-1 hidden-sm hidden-xs"><div class="img-item">
<%= gravatar_tag user.email, :size => 30 %>
                        </div></div>
                        <div class="col-md-11">
                          <h3 class="no-margin-top"><%= link_to user_path(user.guid) do %><%= user.name %>  <i class="fa fa-link color-white-mute font-1x"></i><% end %></h3>
                          <h5><span class="color-black"><%= user.country %></span></h5>
                          <p><%= user.latest_position %> </span> <br/>
                            <span class="color-white-mute"><%= user.university %></span></p>
                          <div>
                            <span class="color-white-mute">Member since <%= time_ago_in_words(user.created_at) %> ago</span>
                            
                            <%= link_to "More", user_path(user.guid), class: "btn btn-xs btn-theme btn-default" %>
                          </div>
                        </div>
                      </div>
                    </div><!-- end item listing  -->