<!-- main navbar -->
        <nav class="navbar navbar-default main-navbar hidden-sm hidden-xs">
          <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav">
              <li class=""><%= link_to "<i class='fa fa-university'></i> connective".html_safe, root_path, class: "font-bold" %></li>
                <li class=""><%= link_to users_path do %><strong>Advisors</strong><% end %></li>
                <li class=""><%= link_to users_path do %><strong>Students</strong><% end %></li>
              </ul>      
              <ul class="nav navbar-nav navbar-right">
              <% unless current_user %>
                
                <li class="link-btn"><%= link_to new_user_session_path do %><span class="btn btn-theme btn-pill btn-xs btn-line">Login</span><% end %></li>
                <li class="link-btn"><%= link_to new_user_registration_path do %><span class="btn btn-theme  btn-pill btn-xs btn-line">Signup</span><% end %></li>
                <% else %>
                <li class="dropdown">
                  <a href="#" class="link-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user"></i> &nbsp; <%= current_user.name %> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><%= link_to "Public Profile", user_path(current_user.guid) %></li>
                    <li><a href="change_password.html"> Call Center</a></li>
                    <li><%= link_to "Settings", edit_user_registration_path %></li>
                  </ul>
                </li>
<li class="link-btn"><%= link_to destroy_user_session_path, method: :delete do %><span class="btn btn-theme  btn-pill btn-xs btn-line">Logout</span><% end %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav><!-- end main navbar -->